/Circuit/SBAQC_1.0_Schaltplan.png
/Circuit/SBAQC_1.0_Steckplatine.png
/SBAquaControl.v12.suo
/SDCard/config/LEDCH_00.CFG
/SDCard/config/LEDCH_01.CFG
/SDCard/config/LEDCH_02.CFG
/SDCard/config/LEDCH_03.CFG
/SDCard/config/LEDCH_04.CFG
