
body{
	font-family:Franklin Gothic Medium Cond, impact;
	background-color:#FFFFFF;
	color:#333366;
	font-size:16pt;
}

h1, h2, h3, h4{
	color:#125DA8;
}

input, button{
	display:inline-block;
	padding:8px;
	min-width:50px;
	min-height:20px;
	background-color:#66AFFF;
	border:solid 1px #ffffff;
	font-weight:bold;
	font-size:14pt;
	color:#ffffff;
}

input[type="submit"]:hover, button:hover{
	border:solid 1px #125DA8;
}

input[type="text"]{
	border:solid 0px #66AFFF;
	padding:10px;
	min-width:30px;
	min-height:20px;
	background-color:#F0F0F0;
	color:#125DA8;
}

input[type="submit"]:active, button:active{	
	border-top:solid 2px #125DA8;
	border-left:solid 2px #125DA8;
	border-right:solid 0px #125DA8;
	border-bottom:solid 0px #125DA8;
}

a{
	color:#994210;
	font-weight:normal;
	margin:0px;
	padding:0px;
}

th{
	background-color:#E0E0E0;
	padding:5px;
	vertical-align:top;
	width:50px;
}

.inline_button{
	display:inline-block;
}